<?xml version="1.0" encoding="UTF-8"?>
<web-app version="3.0" xmlns="http://java.sun.com/xml/ns/javaee" xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xsi:schemaLocation="http://java.sun.com/xml/ns/javaee http://java.sun.com/xml/ns/javaee/web-app_3_0.xsd">
    <welcome-file-list>
        <welcome-file>Login.html</welcome-file>
    </welcome-file-list>
    <servlet>
        <servlet-name>GeneraPDFDinamico</servlet-name>
        <servlet-class>Reporte.GeneraPDFDinamico</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>GraficaAlumnoxCarreraServlet</servlet-name>
        <servlet-class>controller.servlets.GraficaAlumnoxCarreraServlet</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>GraficaServlet</servlet-name>
        <servlet-class>Graficas.GraficaServlet</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>ExamenCRUD</servlet-name>
        <servlet-class>controller.servlets.ExamenCRUD</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>MateriasCRUD</servlet-name>
        <servlet-class>controller.servlets.MateriasCRUD</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>MostrarMaterias</servlet-name>
        <servlet-class>controller.servlets.MateriasCRUD.MostrarMaterias</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>MateriasmMostrar</servlet-name>
        <servlet-class>controller.servlets.MateriasCRUD.MateriasmMostrar</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>MostrarMateria</servlet-name>
        <servlet-class>MateriaCRUD.MostrarMateria</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>MateriaEliminar</servlet-name>
        <servlet-class>MateriaCRUD.MateriaEliminar</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>MateriaModificarVista</servlet-name>
        <servlet-class>MateriaCRUD.MateriaModificarVista</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>MateriaModificar</servlet-name>
        <servlet-class>MateriaCRUD.MateriaModificar</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>MateriaAgregarVista</servlet-name>
        <servlet-class>MateriaCRUD.MateriaAgregarVista</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>MateriaAgregar</servlet-name>
        <servlet-class>MateriaCRUD.MateriaAgregar</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>PreguntaMostrar</servlet-name>
        <servlet-class>PreguntaCRUD.PreguntaMostrar</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>PreguntaEliminar</servlet-name>
        <servlet-class>PreguntaCRUD.PreguntaEliminar</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>PreguntaModificar</servlet-name>
        <servlet-class>PreguntaCRUD.PreguntaModificar</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>PreguntaModificarVista</servlet-name>
        <servlet-class>PreguntaCRUD.PreguntaModificarVista</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>PreguntaCrearVista</servlet-name>
        <servlet-class>PreguntaCRUD.PreguntaCrearVista</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>PreguntaAgregar</servlet-name>
        <servlet-class>PreguntaCRUD.PreguntaAgregar</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>RespuestaMostrar</servlet-name>
        <servlet-class>RespuestaCRUD.RespuestaMostrar</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>RespuestaEliminar</servlet-name>
        <servlet-class>RespuestaCRUD.RespuestaEliminar</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>RespuestaModificarVista</servlet-name>
        <servlet-class>RespuestaCRUD.RespuestaModificarVista</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>RespuestaCrearVista</servlet-name>
        <servlet-class>RespuestaCRUD.RespuestaCrearVista</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>RespuestaModificar</servlet-name>
        <servlet-class>RespuestaCRUD.RespuestaModificar</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>RespuestaAgregar</servlet-name>
        <servlet-class>RespuestaCRUD.RespuestaAgregar</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>ProfesorMostrar</servlet-name>
        <servlet-class>ProfesorCRUD.ProfesorMostrar</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>ProfesorAgregarVista</servlet-name>
        <servlet-class>ProfesorCRUD.ProfesorAgregarVista</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>ProfesorAgregar</servlet-name>
        <servlet-class>ProfesorCRUD.ProfesorAgregar</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>ProfesorEliminar</servlet-name>
        <servlet-class>ProfesorCRUD.ProfesorEliminar</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>ProfesorModificarVista</servlet-name>
        <servlet-class>ProfesorCRUD.ProfesorModificarVista</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>ProfesorModificar</servlet-name>
        <servlet-class>ProfesorCRUD.ProfesorModificar</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>AlumnoCRUD</servlet-name>
        <servlet-class>controller.CRUD.AlumnoCRUD</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>ReporteAlumnosxCarrera</servlet-name>
        <servlet-class>Reporte.ReporteAlumnosxCarrera</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>GraficaAlumnosXCarrera</servlet-name>
        <servlet-class>Graficas.GraficaAlumnosXCarrera</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>VistaGraficaServlet</servlet-name>
        <servlet-class>Graficas.VistaGraficaServlet</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>VentanaModal</servlet-name>
        <servlet-class>controller.servlets.VentanaModal</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>GraficaAlumnosxMateria</servlet-name>
        <servlet-class>Graficas.GraficaAlumnosxMateria</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>AlumnosAprobados</servlet-name>
        <servlet-class>Graficas.GraficaAlumnosAprobados</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>GraficaAlumnosReprobados</servlet-name>
        <servlet-class>Graficas.GraficaAlumnosReprobados</servlet-class>
    GraficaAlumnosAprobados
        </servlet>
    <servlet>
        <servlet-name>GraficaAlumnosAprobadosx</servlet-name>
        <servlet-class>Graficas.GraficaAlumnosAprobadosx</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>ErrorServlet</servlet-name>
        <servlet-class>controller.servlets.ErrorServlet</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>CarreraCRUD</servlet-name>
        <servlet-class>controller.CRUD.CarreraCRUD</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>CalificacionesCRUD</servlet-name>
        <servlet-class>controller.CRUD.CalificacionesCRUD</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>AlumnoMostrar</servlet-name>
        <servlet-class>AlumnoCRUD.AlumnoMostrar</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>AlumnoAgregar</servlet-name>
        <servlet-class>AlumnoCRUD.AlumnoAgregar</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>AlumnoAgregarVista</servlet-name>
        <servlet-class>AlumnoCRUD.AlumnoAgregarVista</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>AlumnoEliminar</servlet-name>
        <servlet-class>AlumnoCRUD.AlumnoEliminar</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>AlumnoModificar</servlet-name>
        <servlet-class>AlumnoCRUD.AlumnoModificar</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>AlumnoModficarVista</servlet-name>
        <servlet-class>AlumnoCRUD.AlumnoModficarVista</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>CalificacionesAgregar</servlet-name>
        <servlet-class>CalificacionesCRUD.CalificacionesAgregar</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>CalificacionesAgregarVista</servlet-name>
        <servlet-class>CalificacionesCRUD.CalificacionesAgregarVista</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>CalificacionesEliminar</servlet-name>
        <servlet-class>CalificacionesCRUD.CalificacionesEliminar</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>CalificacionesModificarVista</servlet-name>
        <servlet-class>CalificacionesCRUD.CalificacionesModificarVista</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>CalificacionesModificar</servlet-name>
        <servlet-class>CalificacionesCRUD.CalificacionesModificar</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>CalificacionesMostrar</servlet-name>
        <servlet-class>CalificacionesCRUD.CalificacionesMostrar</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>CarreraAgregar</servlet-name>
        <servlet-class>CarreraCRUD.CarreraAgregar</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>CarreraAgregarVista</servlet-name>
        <servlet-class>CarreraCRUD.CarreraAgregarVista</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>CarreraEliminar</servlet-name>
        <servlet-class>CarreraCRUD.CarreraEliminar</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>CarreraModificar</servlet-name>
        <servlet-class>CarreraCRUD.CarreraModificar</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>CarreraModificarVista</servlet-name>
        <servlet-class>CarreraCRUD.CarreraModificarVista</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>CarreraMostrar</servlet-name>
        <servlet-class>CarreraCRUD.CarreraMostrar</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>ExamenAgregar</servlet-name>
        <servlet-class>ExamenCRUD.ExamenAgregar</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>ExamenAgregarVista</servlet-name>
        <servlet-class>ExamenCRUD.ExamenAgregarVista</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>ExamenEliminar</servlet-name>
        <servlet-class>ExamenCRUD.ExamenEliminar</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>ExamenModificar</servlet-name>
        <servlet-class>ExamenCRUD.ExamenModificar</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>ExamenModificarVista</servlet-name>
        <servlet-class>ExamenCRUD.ExamenModificarVista</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>ExamenMostrar</servlet-name>
        <servlet-class>ExamenCRUD.ExamenMostrar</servlet-class>
    </servlet>
    <servlet-mapping>
        <servlet-name>GeneraPDFDinamico</servlet-name>
        <url-pattern>/GeneraPDFDinamico</url-pattern>
    </servlet-mapping>
    <servlet>
        <servlet-name>LoginServlet</servlet-name>
        <servlet-class>controller.servlets.LoginServlet</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>RegistroServlet</servlet-name>
        <servlet-class>controller.servlets.RegistroServlet</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>ReporteRegistroServlet</servlet-name>
        <servlet-class>Reporte.ReporteRegistroServlet</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>ServletProfesor</servlet-name>
        <servlet-class>controller.servlets.ServletProfesor</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>ServletAlumno</servlet-name>
        <servlet-class>controller.servlets.ServletAlumno</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>ServletPerfil</servlet-name>
        <servlet-class>controller.servlets.ServletPerfil</servlet-class>
    </servlet>
    <servlet-mapping>
        <servlet-name>LoginServlet</servlet-name>
        <url-pattern>/LoginServlet</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>RegistroServlet</servlet-name>
        <url-pattern>/RegistroServlet</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>ReporteRegistroServlet</servlet-name>
        <url-pattern>/ReporteRegistroServlet</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>ServletProfesor</servlet-name>
        <url-pattern>/ServletProfesor</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>ServletAlumno</servlet-name>
        <url-pattern>/ServletAlumno</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>ServletPerfil</servlet-name>
        <url-pattern>/ServletPerfil</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>GraficaAlumnoxCarreraServlet</servlet-name>
        <url-pattern>/GraficaAlumnoxCarreraServlet</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>GraficaServlet</servlet-name>
        <url-pattern>/GraficaServlet</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>ExamenCRUD</servlet-name>
        <url-pattern>/ExamenCRUD</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>MateriasCRUD</servlet-name>
        <url-pattern>/MateriasCRUD</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>MostrarMaterias</servlet-name>
        <url-pattern>/MostrarMaterias</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>MateriasmMostrar</servlet-name>
        <url-pattern>/MateriasmMostrar</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>MostrarMateria</servlet-name>
        <url-pattern>/MostrarMateria</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>MateriaEliminar</servlet-name>
        <url-pattern>/MateriaEliminar</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>MateriaModificarVista</servlet-name>
        <url-pattern>/MateriaModificarVista</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>MateriaModificar</servlet-name>
        <url-pattern>/MateriaModificar</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>MateriaAgregarVista</servlet-name>
        <url-pattern>/MateriaAgregarVista</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>MateriaAgregar</servlet-name>
        <url-pattern>/MateriaAgregar</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>PreguntaMostrar</servlet-name>
        <url-pattern>/PreguntaMostrar</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>PreguntaEliminar</servlet-name>
        <url-pattern>/PreguntaEliminar</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>PreguntaModificar</servlet-name>
        <url-pattern>/PreguntaModificar</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>PreguntaModificarVista</servlet-name>
        <url-pattern>/PreguntaModificarVista</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>PreguntaCrearVista</servlet-name>
        <url-pattern>/PreguntaCrearVista</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>PreguntaAgregar</servlet-name>
        <url-pattern>/PreguntaAgregar</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>RespuestaMostrar</servlet-name>
        <url-pattern>/RespuestaMostrar</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>RespuestaEliminar</servlet-name>
        <url-pattern>/RespuestaEliminar</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>RespuestaModificarVista</servlet-name>
        <url-pattern>/RespuestaModificarVista</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>RespuestaCrearVista</servlet-name>
        <url-pattern>/RespuestaCrearVista</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>RespuestaModificar</servlet-name>
        <url-pattern>/RespuestaModificar</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>RespuestaAgregar</servlet-name>
        <url-pattern>/RespuestaAgregar</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>ProfesorMostrar</servlet-name>
        <url-pattern>/ProfesorMostrar</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>ProfesorAgregarVista</servlet-name>
        <url-pattern>/ProfesorAgregarVista</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>ProfesorAgregar</servlet-name>
        <url-pattern>/ProfesorAgregar</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>ProfesorEliminar</servlet-name>
        <url-pattern>/ProfesorEliminar</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>ProfesorModificarVista</servlet-name>
        <url-pattern>/ProfesorModificarVista</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>ProfesorModificar</servlet-name>
        <url-pattern>/ProfesorModificar</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>AlumnoCRUD</servlet-name>
        <url-pattern>/AlumnoCRUD</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>ReporteAlumnosxCarrera</servlet-name>
        <url-pattern>/ReporteAlumnosxCarrera</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>GraficaAlumnosXCarrera</servlet-name>
        <url-pattern>/GraficaAlumnosXCarrera</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>VistaGraficaServlet</servlet-name>
        <url-pattern>/VistaGraficaServlet</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>VentanaModal</servlet-name>
        <url-pattern>/VentanaModal</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>GraficaAlumnosxMateria</servlet-name>
        <url-pattern>/GraficaAlumnosxMateria</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>AlumnosAprobados</servlet-name>
        <url-pattern>/AlumnosAprobados</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>GraficaAlumnosReprobados</servlet-name>
        <url-pattern>/GraficaAlumnosReprobados</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>GraficaAlumnosAprobadosx</servlet-name>
        <url-pattern>/GraficaAlumnosAprobadosx</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>ErrorServlet</servlet-name>
        <url-pattern>/ErrorServlet</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>CarreraCRUD</servlet-name>
        <url-pattern>/CarreraCRUD</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>CalificacionesCRUD</servlet-name>
        <url-pattern>/CalificacionesCRUD</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>AlumnoMostrar</servlet-name>
        <url-pattern>/AlumnoMostrar</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>AlumnoAgregar</servlet-name>
        <url-pattern>/AlumnoAgregar</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>AlumnoAgregarVista</servlet-name>
        <url-pattern>/AlumnoAgregarVista</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>AlumnoEliminar</servlet-name>
        <url-pattern>/AlumnoEliminar</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>AlumnoModificar</servlet-name>
        <url-pattern>/AlumnoModificar</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>AlumnoModficarVista</servlet-name>
        <url-pattern>/AlumnoModficarVista</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>CalificacionesAgregar</servlet-name>
        <url-pattern>/CalificacionesAgregar</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>CalificacionesAgregarVista</servlet-name>
        <url-pattern>/CalificacionesAgregarVista</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>CalificacionesEliminar</servlet-name>
        <url-pattern>/CalificacionesEliminar</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>CalificacionesModificarVista</servlet-name>
        <url-pattern>/CalificacionesModificarVista</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>CalificacionesModificar</servlet-name>
        <url-pattern>/CalificacionesModificar</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>CalificacionesMostrar</servlet-name>
        <url-pattern>/CalificacionesMostrar</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>CarreraAgregar</servlet-name>
        <url-pattern>/CarreraAgregar</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>CarreraAgregarVista</servlet-name>
        <url-pattern>/CarreraAgregarVista</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>CarreraEliminar</servlet-name>
        <url-pattern>/CarreraEliminar</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>CarreraModificar</servlet-name>
        <url-pattern>/CarreraModificar</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>CarreraModificarVista</servlet-name>
        <url-pattern>/CarreraModificarVista</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>CarreraMostrar</servlet-name>
        <url-pattern>/CarreraMostrar</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>ExamenAgregar</servlet-name>
        <url-pattern>/ExamenAgregar</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>ExamenAgregarVista</servlet-name>
        <url-pattern>/ExamenAgregarVista</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>ExamenEliminar</servlet-name>
        <url-pattern>/ExamenEliminar</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>ExamenModificar</servlet-name>
        <url-pattern>/ExamenModificar</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>ExamenModificarVista</servlet-name>
        <url-pattern>/ExamenModificarVista</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>ExamenMostrar</servlet-name>
        <url-pattern>/ExamenMostrar</url-pattern>
    </servlet-mapping>
    <session-config>
        <session-timeout>
            30
        </session-timeout>
    </session-config>
</web-app>
